# Please keep the lines in this file sorted.
.build/ export-ignore
.codeclimate.yml export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.phan/ export-ignore
Makefile export-ignore
composer.lock export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore
tests/ export-ignore
tslint.yml export-ignore
typoscript-lint.yml export-ignore