name: PHP type checking and unit testing

on: [push]

jobs:
  build:
    strategy:      
      matrix:
        php-versions: ["7.2", "7.3", "7.4"]
        symfony-versions: ["~3.0", "~4.0"]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      
    - name: Setup PHP
      uses: shivammathur/setup-php@v1
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring, intl, json
        coverage: pcov
    
    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Declare required Symfony version
      run: |
        composer require --no-update symfony/console ${{ matrix.symfony-versions }}
        composer require --no-update symfony/dependency-injection ${{ matrix.symfony-versions }}
        composer require --no-update symfony/config ${{ matrix.symfony-versions }}
        composer require --no-update symfony/yaml ${{ matrix.symfony-versions }}
        composer require --no-update symfony/finder ${{ matrix.symfony-versions }}
        composer require --no-update symfony/filesystem ${{ matrix.symfony-versions }}
        composer require --no-update symfony/event-dispatcher ${{ matrix.symfony-versions }}

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    - name: Run CLI tool
      run: ./typoscript-lint

    - name: Run type checker
      run: ./vendor/bin/psalm
      
    - name: Run unit tests
      run: ./vendor/bin/phpunit --testdox

  test-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
          php-version: "7.4"
          extensions: mbstring, intl, json
          coverage: pcov

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v2.3.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.codeClimateReporterID }}
        with:
          coverageCommand: ./vendor/bin/phpunit --coverage-clover=clover.xml
          debug: true
