name: PHP type checking and unit testing

on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        include:
          - php-version: "8.1"
            symfony-version: "^5.4"
          - php-version: "8.2"
            symfony-version: "^5.4"
          - php-version: "8.3"
            symfony-version: "^5.4"
          - php-version: "8.4"
            symfony-version: "^5.4"
          - php-version: "8.1"
            symfony-version: "^6.4"
          - php-version: "8.2"
            symfony-version: "^6.4"
          - php-version: "8.3"
            symfony-version: "^6.4"
          - php-version: "8.4"
            symfony-version: "^6.4"
          - php-version: "8.2"
            symfony-version: "^7.2"
          - php-version: "8.3"
            symfony-version: "^7.2"
          - php-version: "8.4"
            symfony-version: "^7.2"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, intl, json
          coverage: pcov

      - name: Validate composer.json
        run: composer validate --no-check-lock

      - name: Declare required Symfony version
        run: |
          composer require --no-update symfony/console ${{ matrix.symfony-version }}
          composer require --no-update symfony/dependency-injection ${{ matrix.symfony-version }}
          composer require --no-update symfony/config ${{ matrix.symfony-version }}
          composer require --no-update symfony/yaml ${{ matrix.symfony-version }}
          composer require --no-update symfony/finder ${{ matrix.symfony-version }}
          composer require --no-update symfony/filesystem ${{ matrix.symfony-version }}
          composer require --no-update symfony/event-dispatcher ${{ matrix.symfony-version }}

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      - name: Run CLI tool
        run: ./typoscript-lint

      - name: Run type checker
        run: ./vendor/bin/psalm

      - name: Run unit tests
        run: ./vendor/bin/phpunit --testdox

  test-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: mbstring, intl, json

      - name: Install dependencies
        run: composer install --no-dev --prefer-dist --no-progress --no-suggest

      - name: Build PHAR
        run: composer run-script package prtest

      - name: Test PHAR
        run: ./typoscript-lint-prtest.phar --help
